<div class="flex justify-center px-4 pt-8 w-full h-full bg-gray-50 md:px-0">
  <div class="flex flex-col items-center w-full max-w-4xl bg-white rounded-lg border border-gray-200 shadow-md md:w-4/5">
    <div class="w-full h-full">
      <%= react_component "listings/New", {
        templateListing: @listing,
        initialRunsRemaining: @runs_remaining
      } %>
    </div>
  </div>
</div>
