<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: arial; margin: 0px;">
    <div style="padding: 1rem;">
     <div style="line-height: 1.6; padding-bottom: 0.5rem;">
       <p>Hi there,</p>

       <p>This is a notification to say your Listify subscription has been cancelled. We're sorry to see you go!</p>

       <p>You will continue to have access to your subscription until the end of the current billing period. You can log back in to the app <%= link_to "here", "https://app.listify.ai", target: "_blank" %>, and resume access to your plan if you change your mind.</p>

       <p>We would be keen to understand why this hasn't worked out for you - please do let us know, if we haven't been in touch already.</p>

       <p style="margin-top: 2rem;">Have a great day,</p>
     </div>
      <div style="">
        <%= image_tag "listify-logo.png", height: 50, alt: "Listify logo" %>
      </div>

      <div style="font-size: 0.75rem; line-height: 1rem; color: #9CA3AF">
        <p>
          Need help with Listify, wish to unsubscribe, or something else? Hit reply to this email to let us know.
        </p>
      </div>
    </div>
  </body>
</html>
