<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: arial; margin: 0px;">
    <div style="padding: 1rem;">
     <div style="line-height: 1.6; padding-bottom: 0.5rem;">
       <p>Hi there,</p>

       <p>Thank you for signing up to Listify, the most advanced and sophisticated AI content creator for the vacation rental industry!</p>

       <p>You can get started by clicking <%= link_to "here", "https://app.listify.ai", target: "_blank" %>. You’re currently on a 2 week trial, where you can “spin” the AI generator up to 100 times. Each “spin” generates a selection of great content that you can use.</p>

       <p><strong>How do I get the most out of Listify?</strong></p>

       <ul style="">
         <li style="margin-top: 0.5rem">In your prompts, the more specific the language or keyword, the better the output. Check out the <%= link_to "demo video", "https://listify.ai", target: "_blank" %> on our homepage as an example.</li>
         <li style="margin-top: 0.5rem">Avoid colloquial or slang expressions. If possible, spellcheck prompts, as minor typos can interfere with the output.</li>
         <li style="margin-top: 0.5rem">On higher creativity outputs, the AI will use some creative licence to add flair to the output, so double-check factual claims in the output to make sure you are happy with it.</li>
         <li style="margin-top: 0.5rem">In the neighbourhood feature, using a neighbourhood or area name in the prompt rather than a specific address or street will generate better results e.g. “Waterloo, London” instead of “Stamford Street, London”.</li>
       </ul>

       <p>If you need any help getting the most out of Listify or have feedback or suggestions, reply to this email.</p>


       <p style="margin-top: 2rem;">Have a great day,</p>
     </div>
      <div style="">
        <%= image_tag "listify-logo.png", height: 50, alt: "Listify logo" %>
      </div>

      <div style="font-size: 0.75rem; line-height: 1rem; color: #9CA3AF">
        <p>
          Need help with Listify, wish to unsubscribe, or something else? Hit reply to this email to let us know.
        </p>
      </div>
    </div>
  </body>
</html>
