<div class="w-full px-8 flex pt-12 justify-center">
  <div class="p-8 bg-white w-full max-w-6xl rounded-lg border border-gray-300 shadow-sm">
    <div class="w-full">
      <h2 class="log-in-header">Generate profiles</h2>
      <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>

      <p class="mb-8">Select your spreadsheet containing profile URLs. Generating summaries will take a few minutes - you will be notified by email when complete.</p>

      <%= react_component "demo/UploadForm" %>

    </div>
  </div>
</div>
