<div class="w-full">
  <%= react_component(
    'prompts/Form',
    {
      actionType: locals[:action_type],
      promptProps: @prompt,
      promptSet: @prompt_set,
      serviceOptions: @service_options,
      serviceConstraints: Prompt::SERVICE_CONSTRAINTS,
      engines: Prompt::ENGINES
    }
  ) %>
</div>
