---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test_suite_user1%40example.com&name=John+TestSuiteUser
    headers:
      Authorization:
      - Bearer < PRIVATE KEY >
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 20a5fd1b-d9ff-4c0f-aa44-36a77fbf70db
      Original-Request:
      - req_9iSY88KTIvX0ps
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_KmxTrNpUTarsi4",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1639674956,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test_suite_user1@example.com",
          "invoice_prefix": "A2AFF0F6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "John TestSuiteUser",
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Thu, 16 Dec 2021 17:15:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_KmxTrNpUTarsi4
    headers:
      Authorization:
      - Bearer < PRIVATE KEY >
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0d46e899-8662-4cd0-923d-d3bda34d58f9
      Original-Request:
      - req_OxpFkdWqeBhWQt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1K7NYeAAShUZq81IJSfAGgIG",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2022,
            "fingerprint": "GoGxQaTfPOZXtKc9",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1639674956,
          "customer": "cus_KmxTrNpUTarsi4",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Thu, 16 Dec 2021 17:15:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_KmxTrNpUTarsi4
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1K7NYeAAShUZq81IJSfAGgIG
    headers:
      Authorization:
      - Bearer < PRIVATE KEY >
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1e8b1cce-e7cb-44cc-[...]
