<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: arial; margin: 0px;">
    <div style="padding: 2rem 3rem;">
     <div style="line-height: 1.6; padding-bottom: 0.5rem;">

       <p>Hi there,</p>

        <p>Thank you for signing up to Listify, the most advanced and sophisticated AI content creator for the vacation rental industry!</p>

        <p>You can get started by clicking <%= link_to "here", "https://app.listify.ai", target: "_blank" %>. You’re currently on a 2 week trial, where you can “spin” the AI generator up to 100 times. Each “spin” generates a selection of great content that you can use.</p>

        <p style="margin-top: 2rem;">Have a great day,</p>
     </div>
      <div style="margin-left: -15px;">
        <%= image_tag "listify-logo", height: 60, alt: "Listify logo" %>
      </div>

      <div style="font-size: 0.75rem; line-height: 1rem; color: #9CA3AF">
        <p>
          Need help with Listify, wish to unsubscribe, or something else? Hit reply to this email let us know.
        </p>
      </div>
    </div>
  </body>
</html>
