<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Listify !</h1>
    <p>Thank you for signing up for an account. If you have any questions or need any help, please let us know.</p>
    <p>Have a great day,</p>
    <br>
    <p><strong>The Listify Team</strong></p>
  </body>
</html>
