<div class="flex justify-center w-full h-8 text-xs text-gray-400">
  <p>
    © 2021 All rights reserved •
    <%= link_to "Terms", terms_path %> •
    <%= link_to "Privacy", privacy_path %>
    </p>
</div>

