<% if notice %>
  <div class="fixed right-0 bottom-0 px-2 w-64 h-8 text-sm text-white bg-gray-500 rounded-t-md">
    <div class="flex items-center h-full">
      <%= notice %>
    </div>
  </div>
<% end %>
