---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/users/sign_in":
    post:
      summary: Sign In
      tags:
      - Sign In
      parameters: []
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Successfull Message
                    example: Successfully Logged In.
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: authentication token
                        example: eyJ1c2VyX2lkIjoiMDE5YTc3ZGMtOWYyOS00ODNjLThhZTAtMzBlNTU1MDVlODNiIiwiZXhwIjoxNjYzNzgwMDgzfQ
                      expire_at:
                        type: string
                        description: expire date and time
                        example: 01-01-2022 17:08
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Missing Parameter
                    example: Email and Password are required field.
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Incorrect Email
                    example: Incorrect Email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: User email
                  example: test@test.com
                password:
                  type: string
                  description: User password
                  example: '12345678'
              required:
              - email
              - password
        description: User login parameter
  "/api/v1/listings/descriptions":
    post:
      summary: Listing Description
      tags:
      - Listing
      parameters: []
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Successfull Message
                    example: Successfully Generated Discriptions
                  data:
                    type: array
                    items: 
                      type: string
                      example: 1 bedroom house available in london for couples
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Unauthtorized
                    example: Nil JSON web token
        '400':
          content:
            application/json:
              schema:
                type: array
                items: message
                example:
                  - message: Required fields are as follows property_type, ideal_for, location, number_of_bedrooms, featues
                  - message: location characters count should be less than 70
                  - message: property_type characters count should be less than 70
                  - message: ideal_for characters count should be less than 70
                  - message: number_of_bedrooms should be between 0 and 100
                  - message: No Spin Remaining
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                output_language:
                  type: string
                  description: Output Language
                  example: EN
                text:
                  type: object
                  properties:
                    location:
                      type: string
                      description: Location
                      example: london
                    property_type:
                      type: string
                      description: Property Type
                      example: house
                    ideal_for:
                      type: string
                      description: Ideal For
                      example: couple
                    number_of_bedrooms:
                      type: string
                      description: Number Of Bedrooms
                      example: 2
              required:
              - location
              - property_type
              - ideal_for
              - number_of_bedrooms
        description: Listing Descriptions
  "/api/v1/listings/titles":
    post:
      summary: Listing Titles
      tags:
      - Listing
      parameters: []
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Successfull Message
                    example: Successfully Generated Titles
                  data:
                    type: array
                    items: 
                      type: string
                      example: 1 bedroom house in london
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                    description: Unauthtorized
                    example: Nil JSON web token
        '400':
          content:
            application/json:
              schema:
                type: array
                items: message
                example:
                  - message: Required fields are as follows property_type, ideal_for, location, number_of_bedrooms, featues
                  - message: location characters count should be less than 70
                  - message: property_type characters count should be less than 70
                  - message: ideal_for characters count should be less than 70
                  - message: number_of_bedrooms should be between 0 and 100
                  - message: No Spin Remaining
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                output_language:
                  type: string
                  description: Output Language
                  example: EN
                text:
                  type: object
                  properties:
                    location:
                      type: string
                      description: Location
                      example: london
                    property_type:
                      type: string
                      description: Property Type
                      example: house
                    ideal_for:
                      type: string
                      description: Ideal For
                      example: couple
                    number_of_bedrooms:
                      type: string
                      description: Number Of Bedrooms
                      example: 2
              required:
              - location
              - property_type
              - ideal_for
              - number_of_bedrooms
        description: Listing Titles
servers:
- url: https://app.listify.ai
  variables:
    defaultHost:
      default: app.listify.ai
