<div class="flex flex-col items-start px-4 md:px-8">
  <div class="flex justify-center pt-8 w-full h-full bg-gray-50">
    <div class="flex flex-col items-center w-full max-w-4xl bg-white rounded-lg border border-gray-200 shadow-md md:w-4/5">
      <div class="p-12 w-full h-full leading-loose text-center md:text-left">
        <h1 class="mb-4 text-2xl font-medium tracking-wide">Welcome! 👋</h1>
        <br />
        <% if user_signed_in? && current_user.admin? && current_user.subscribed? %>
          <p class="font-bold text-purple-800">Your subscription is active.</p>
          <br />
        <% end %>
        <p>
          Minotaur helps you create awesome copy for your property listings using an AI copywriter.
          It lets you generate engaging, original content in seconds.
        </p>
        <br />
        <p>
          <span class="font-bold tracking-wide text-green-600">To get started</span>, we recommend <%= link_to "trying an example", new_listing_path(show_example: true), class: "text-blue-700 underline" %>.
          If you've been here before, you can <%= link_to "jump right in", new_listing_path, class: "text-blue-700 underline" %>.
        </p>

        <br />
        <br />
        <h3 class="text-lg font-bold tracking-wide">How Minotaur works</h3>
        <br />
        <p>
          Minotaur is built on GPT-3, the world’s most advanced language AI.
          The AI can create several drafts in seconds, varying from the basic to the poetic.
        </p>
        <br />
        <p>
          We are currently in private beta, with a daily cap on the amount of copy you can create.
          We will announce our pricing and limits beyond the private beta shortly.
        </p>
        <br />
        <p>
          If you have questions, need help, or have ideas for how we can improve, please <%= mail_to "hello@getminotaur.app", "get in touch", class: "text-blue-700 underline" %>.
          Thanks for giving us a try!
        </p>
        <br />
        <p class="font-bold">The Minotaur Team</p>
      </div>
    </div>
  </div>
  <br />
</div>
