<div class="flex flex-col items-center">
  <div class="w-4/5">

  TERMS AND CONDITIONS
  <br />
  <br />  1. These terms
  <br />  These are  the  terms and conditions on which we provide Listify AI  to you. Please read  these  terms  carefully  before  signing  up  to  Listify.  These  terms  tell  you  who  we  are,  how  we  will  provide  our  services to you, how you and we may change or end the contract, what to do if there is a problem and  other important information.
  <br />  2. Information about us and how to contact us
  <br />  2.1. Who we are. We are Venture Rocket Ltd, trading as Listify AI, a company registered in England and  Wales. Our company  registration number is 13000040 and our office is located at 28 Rennie Court, 11  Upper Ground, London, SE1 9LP.
  <br />  2.2. How to contact us. You can contact us by writing to us at hello@listify.ai.
  <br />  2.3. How we may  contact you. If we  have  to  contact you we will  do  so  by  telephone  or  by writing  to you  using the contact details you provided when signing up.
  <br />  2.4. "Writing" includes emails. When we use the words "writing" or "written" in these terms, this includes  emails.
  <br />  3. Our contract with you
  <br />  3.1. How  we  will  accept  your  subscription.  We  will  accept  your  subscription  when  you  sign  up  to  use  Listify for the first time and provide your payment details. We will provide you with a 14 day free trial  after which we will charge the payment method you provided when you signed up.
  <br />  3.2. Your reference number. We will assign a reference number to your order and tell you what it is when we  accept your order. It will help us if you can tell us the reference number whenever you contact us about  your order.
  <br />  4. Your subscription
  <br />  4.1. When. Upon signing up you will be able to use Listify immediately.
  <br />  4.2. Usage.  You  are  permitted  to  use  Listify  both  individually  and  within  your  company  in  order  to  generate content.
  <br />  4.3. Price and Payment. The price of your subscription (which includes VAT) will be the price indicated on our  website at the time you signed up for your subscription. We accept payment using most major credit and  debit cards. All credit and debit card holders are subject  to validation checks and authorisation by  the
  <br />  card issuer. If the issue of your payment card refuses to authorise payment to us we will not be liable for  any delay or non-delivery. Your subscription will continue to run until cancelled and may change in price.
  <br />  4.4. Restrictions  on  content  generation.  You may  not  willingly  use Listify  in  order  to  generate  content  that is  racist, sexist, homophobic, hateful, or otherwise discriminatory in any way. Given  the nature of  Listify as a  product  built  on a general-purpose  natural  language  processing engine  there  is a  small  chance that a benign set of prompts may result in inappropriate content being generated however you  must  not  intentionally  use  the  product  in  order  to  generate  such  content  and must  not  use  any  such  content if generated accidentally.
  <br />  5. Our right to make changes
  <br />  5.1. Minor  changes. We  may  make  changes  to  these  terms  or  the  services  provided  by  us. We  can  make  minor  changes  at  any  time  to  reflect  changes  in  relevant  law  and  regulatory  requirements,  or  to  implement  minor  technical  adjustments  and  improvements.  If  we  do  so,  we  will  make  the  updated  version of our terms available on our website.
  <br />  5.2. Significant  changes. Where  we make more  significant  changes  to  our  services,  and  you  are  a  current  user of our services, we will either make you aware of  these changes by email or  tell you about  them  when you next use our services. By continuing to use our services, you will be deemed to have agreed to  our  revised  terms. If  you  don’t want  these  revised  terms  to apply  to  your  use  of  the  service,  you will  need to terminate our contract with you (please see Termination below).
  <br />  6. Termination
  <br />  6.1. Tell us you want to end the contract. You can end your subscription with us at any time. Simply cancel  your subscription in app, or email us at hello@listify.ai.
  <br />  6.2. Refunds.  If you are due a refund in accordance with these terms then we will refund you by the method  you used for payment. We will make any refunds due to you as soon as possible, and will endeavour to  process your refund within 28 days of your written request.
  <br />  7. Our rights to end the contract
  <br />  7.1. We may end the contract at any time if you use our website in a manner which is inconsistent with these  terms, or you do not make a payment to us when it is due.
  <br />  8. Problems and complaints
  <br />  8.1. How  to  tell  us  about  problems.  If  you  have  any  questions  or  complaints  about  the  product,  please  contact us. You can write to us at hello@listify.ai.
  <br />  9. Our liability
  <br />  9.1. Our  website.  We  provide  our  website,  www.listify.ai and app.listify.ai,  on  an  “as  is”  basis  and  make  no  representation  as  to  the  quality,  completeness  or  accuracy  of  any  content  made  available  on  our  website. By using our website you agree to comply with these terms.
  <br />  9.2. We  are  responsible  to  you  for  foreseeable  loss  and  damage  caused  by  us.  If  we  fail  to  comply  with  these terms, we are responsible for loss or damage you suffer that is a foreseeable result of our breaking  this contract or our  failing  to use  reasonable care and  skill, but we are not  responsible  for any loss or  damage that is not foreseeable. Loss or damage is foreseeable if either it is obvious that it will happen or  if, at the time the contract was made, both we and you knew it might happen.
  <br />  9.3. We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This  includes  liability  for  death  or  personal  injury  caused  by  our  negligence  or  the  negligence  of  our  employees, agents or subcontractors; for fraud or fraudulent misrepresentation; for breach of your legal  rights in relation to the service provided by us.
  <br />  10. Your personal information
  <br />  We need to collect personal information about you in order to provide you with our services. We will do  this through our sign up process. Our privacy policy has details of what information we collect, what we  do with it, how long we retain it and your rights in relation to your data. Our privacy policy is available  here app.listify.ai/privacy and you should make sure that you have read it carefully.
  <br />  11. Other important terms
  <br />  11.1. Nobody else has any rights under this contract. This contract is between you and us. No other person  shall have any rights to enforce any of its terms.
  <br />  11.2. If a  court finds  part  of  this  contract illegal,  the  rest will  continue in  force. Each  of  the  paragraphs  of  these terms operates separately. If any court or relevant authority decides that any of them are unlawful,  the remaining paragraphs will remain in full force and effect.
  <br />  11.3. Even if we delay in enforcing this contract, we can still enforce it later. If we do not insist immediately  that you do anything you are required to do under these terms, or if we delay in taking steps against you  in respect of your breaking this contract, that will not mean that you do not have to do those things and  it will not prevent us taking steps against you at a later date.
  <br />  11.4. Which  laws  apply  to  this  contract  and  where  you  may  bring  legal  proceedings.  These  terms  and  conditions are governed by English law and shall be subject to the jurisdiction of the courts of England  and Wales.
  <br />  This application includes Google Maps content. Google Maps features and content are subject to the Google Maps/Google Earth Additional <%= link_to "Terms of Service","https://maps.google.com/help/terms_maps.html" %> and the <%= link_to "Google Privacy Policy","https://www.google.com/policies/privacy/" %>.
  <br />
  <br />  Date of publication: September 2021
  </div>
</div>
