<div class="px-10 w-full">
  <%= react_component(
    'completions/Dashboard',
    {
      groupedCompletions: from_partial(
        'admin/recorded_completions/recorded_completion_group.json',
        recorded_completion_group: @completions_by_task_run
      )['grouped_completions']
    }
  )%>
</div>
<br />
