<div class="px-10 w-full">
  <%= react_component(
    'completions/Dashboard',
    {
      currentUser: from_partial('users/user', user: current_user),
      showAdmins: params[:admin],
      groupedCompletions: from_partial(
        'admin/recorded_completions/recorded_completion_group',
        recorded_completion_group: @completions_by_task_run
      )['grouped_completions']
    }
  )%>
</div>
<br />
