<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: arial; margin: 0px;">
    <div style="line-height: 1.6; padding-bottom: 0.5rem;">
      <p><%= @user.email %> had a payment fail. This may be temporary and not require any action from us, but we should investigate.</p>
    </div>
  </body>
</html>


