<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: arial; margin: 0px;">
    <div style="line-height: 1.6; padding-bottom: 0.5rem;">
      <p><%= @team_name %> has used <%= @spins_used %> of their <%= @monthly_spins %> monthly spins.</p>
    </div>
  </body>
</html>
