<div class="flex justify-center pt-8 w-full h-full bg-gray-50">
  <div class="flex flex-col items-center w-4/5 max-w-4xl bg-white rounded-lg border border-gray-200 shadow-md">
    <h1 class="my-8 text-xl font-medium tracking-wider text-gray-700">New Example</h1>
    <%= render 'admin/examples/form' %>
    <div class="mb-4"><%= link_to 'Back', admin_examples_path %></div>
  </div>
</div>

