<div id="submit-loading" class="flex hidden justify-start items-center w-full">
  <p class="mr-4 text-gray-500">Processing...</p>
  <div class="w-4 h-4 rounded-full border-t-2 border-b-2 border-blue-600 animate-spin"></div>
</div>

<div id="submit-container" class="w-full">
  <%= form.submit submit_text, class: "primary-button" %>
</div>
